<div class="container" *ngIf="member">
    <div class="row justify-content-center">
        <div class="card col-6 mt-2">
            <div class="card-body">
                <form class="form">
                    <div class="form-group">
                        <img id="member-img" [src]="member.imgUrl" class="card-img-top">
                    </div>
                    <div class="form-group">
                        <label>Name</label>
                        <!-- ngmodel must import form module -->
                        <input id="member-name" type="text" name="name" class="form-control" [value]="member.name">
                    </div>
                    <div class="form-group">
                        <label>Image URL</label>
                        <input id="member-url" type="text" name="url" class="form-control" [value]="member.imgUrl">
                    </div>
                    <div class="form-group">
                        <label>Instagram ID </label>
                        <input id="member-instagram-id" type="text" name="instagramId" class="form-control" [value]="member.instagramId">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- <div class="card mb-4 shadow-sm" *ngIf="member">
    <div>
        <img class="card-img" [src]="member.imgUrl"/>
    </div>
    <div class="card-body">
      <p class="card-text">{{ member.name }}</p>
      <p class="card-text">{{ member.instagramId }}</p>
    
      
    </div>
</div> -->
